.dashboard {
    height: 90%;
    width: 500px;
    padding: 50px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
    width: 500vh;
  }
  
  .info {
    font-size: 200%;
    margin-bottom: 50px;
  }
  
  .caixasDia {
    color: black;
    font-size: 80%;
  }
  .caixasSemana {
    color: black;
    font-size: 80%;
  }
  
  ul {
    list-style-type: decimal-leading-zero;
    padding: 40px;
    font-size: 200%;
  }
  
  .status {
    margin-top: 20px;
  }
  
  .status-indicator {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .status-indicator.em-progresso {
    right: 500%;
    background-color: #4caf50;
  }
  
  .status-indicator.parada {
    background-color: #f44336;
  }
  
  .status-indicator.manutencao {
    background-color: #ff9800;
  }