@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url('./assets/proj.jpg');
  background-position: center;
}

.nomeMarca {

  border-start-start-radius: 5%;
  border-start-end-radius: 5%;
  color: rgb(4, 34, 41);
  border: transparent;
  font-family: "Source Code Pro", serif;
  font-size: xx-large;
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
  position: relative;
  overflow: hidden;
  transition: .700ms;
  animation: hover-effect 750ms infinite;
}

.nomeMarca {
  background-color: cadetblue;
  box-shadow: 0 0 10px cadetblue, 0 0 15px #04478f, 0 0 30px silver;
}

@keyframes hover-effect {
  0% {
    background-color: #035d95; 
}
  50% {
    background-color: #4591dd;
  }
  100% {
    background-color: #a5c5e0;
  }
}


.auth-container {
  height: 100%;
  width: 100%;
  text-align: center;
  color: black;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 150px; 
  height: 150px;
  object-fit: contain;
  margin: 10px;  

}


h2 {
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-group {
  font-family: "Source Code Pro", serif;
  color: black;
  margin-bottom: 15px;
  border-radius: 80%;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #0d0b0b;
  border-radius: 40px;
}

.buttonAuth {
  font-family: "Source Code Pro", serif;
  font-style: normal;
  font-optical-sizing: auto;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonAuth:hover {
  background-color: #0056b3;
}

p {
  font-family: "Source Code Pro", serif;
  font-size: xx-large;
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
  text-align: center;
  font-size: 14px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
